In [4]:
import matplotlib.pyplot as plt

import numpy as np

from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
import scipy

import pandas as pd

In [5]:
data = pd.read_csv('train_enc.csv', quotechar='"', skipinitialspace=True)
data[0:5]

,Unnamed: 0,TripType,VisitNumber,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,...,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,Unspecified,WIRELESS
0,0,999,5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,30,7,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2,26,8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,8,9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,8,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data_cor = data.drop(data.columns[[0, 2]], axis=1)
data_trip = data_cor.iloc[:,0]
data_edit = data.drop(data.columns[[0,1, 2]], axis=1)

In [7]:
list_col = list(data_edit.columns)

In [8]:
data_edit[data_edit!=0]=1
scipy.stats.mstats.spearmanr(data_trip,data_edit.iloc[:,1])
import itertools

In [42]:
list_index = list(set(itertools.combinations(range(75),2)))
cor_list = []
len(list_index)

2775

In [43]:
for tuples in list_index:
    cor_list.append(scipy.stats.mstats.spearmanr(data_edit.iloc[:,tuples[0]],data_edit.iloc[:,tuples[1]])[0])

In [63]:
cor_listnew = map(abs, cor_list)
s1 = pd.Series(cor_listnew, name='correlation')
s2 = pd.Series(list_index, name='index')
s2 = pd.Series([(list_col[a],list_col[b]) for (a,b) in s2], name='pair')

In [65]:
corr_df = pd.concat([s2, s1], axis=1)

In [66]:
result = corr_df.sort('correlation',ascending= False)

result[0:10]

                                                   pair  correlation
2155                         (DAIRY, GROCERY DRY GOODS)     0.457287
2666                    (COMM BREAD, GROCERY DRY GOODS)     0.382013
1023                       (GROCERY DRY GOODS, PRODUCE)     0.376888
795                                    (DAIRY, PRODUCE)     0.371896
2232                                (COMM BREAD, DAIRY)     0.368485
1089                           (DAIRY, PRE PACKED DELI)     0.367075
1592                      (COMM BREAD, PRE PACKED DELI)     0.365684
1754                              (DAIRY, FROZEN FOODS)     0.354533
1260                   (DSD GROCERY, GROCERY DRY GOODS)     0.345735
888   (HOUSEHOLD CHEMICALS/SUPP, HOUSEHOLD PAPER GOODS)     0.331841

In [47]:
list_y_index = range(75)
cor_list_y = []
for index in range(75):
    cor_list_y.append(scipy.stats.mstats.spearmanr(data_trip,data_edit.iloc[:,index])[0])

In [48]:

s1_y = pd.Series(cor_list_y, name='correlation')
s2_y = pd.Series(range(75), name='index')

In [49]:
corr_df_trip = pd.concat([s2_y, s1_y], axis=1)
result_trip = corr_df_trip.sort('correlation',ascending= False)
result_trip[0:10]

    index  correlation
31     31     0.270627
23     23     0.252076
37     37     0.219117
24     24     0.215997
57     57     0.201847
38     38     0.195193
64     64     0.193578
20     20     0.174345
28     28     0.161459
63     63     0.160788

In [16]:

data_dairy = data_edit[data_edit['DAIRY'] ==1]

In [19]:
data_dairy.shape

(17832, 76)